*{
  margin: 0px;
  padding:0px;
}
body{
  display: block;
}
.foot{
  min-width: 1260px;
  width: 100%;
  height: 150px;
  min-height: 150px;
  background: #0c609c url("../../assets/image/foot/foot.png") no-repeat center bottom;
}
.foot-home{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.flex-row{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex{
  flex: 1;
}

.foot-box-1 {
  width: 150px;
  height: 150px;
  overflow: hidden;
  font-size: 16px;
  text-align: center;
}
.foot-box-1>img{
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 5%;
}
.foot-box-1>p{
  margin-left: 23px;
  font-size: 16px;
  margin-right: 15px;
}
.border{
  border: 1px #6cf solid;
}

.border-left{
  border-left: 1px #000 solid;
}

.border-right{
   border-right: 1px #000 solid;
}

.foot-box-2{
  width: 30%;
  height: 100%;
}

.about{
  display: inline-block;
  width: 75%;
  min-width: 75%;
  height: 80%;
  min-height: 80%;
  border-left: 1px solid #3078ab;
  vertical-align: top;
  margin: 10px 0 0 15px;
  overflow: hidden;
}

.foot h3{
  display: inline-block;
  font-weight: normal;
  color: #fff;
  font-size: 16px;
  margin: 10px 0 0 40px;
}

.foot ul{
  list-style: none;
  width: 100%;
  height: 80%;
  margin: 10px 0 0 40px;
}

.foot ul li{
/*  display: inline-block;*/
  display: inline-block;
  margin: 6px 25px 0 0;
}

.foot li{
  display: list-item;
  text-align: -webkit-match-parent;
}

.foot a{
  text-decoration: none;
  color: #aad3f0;
}

.about p{
  margin-top: 16px;
  color: #aad3f0;
}

.disclaimer{
  width: 75%;
  height: 80%;
  border-left: 1px solid #3078ab;
  vertical-align: top;
  margin: 10px 0 0 15px;
}

.disclaimer p{
  margin: 10px 0 0 40px;
  color: #aad3f0;
  font-size: 14px;
  line-height: 20px;
  word-break: break-all;
}

