@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

div {
  display: block;
}

.index-main {
  width: 100%;
  min-width: 1580px;
  overflow: hidden;
  .index-topTheme {
    width: 1580px;
    min-width: 1580px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff url("https://static.dmzj.com/public/images/mh_bg.jpg") no-repeat top center;
    background-size: 100% auto;
    min-height: 2000px;
    .topTheme {
      width: 100%;
      //overflow: hidden;
      .topTheme_inner {
        position: relative;
        width: 100%;
        margin: 0 auto;
        //overflow: hidden;
        .acc-logo {
          float: left;
          width: 235px;
          height: 150px;
          margin: 10px 0 10px 10px;
          a {
            display: block;
            width: 150px;
            height: 150px;
            background: url("../../assets/image/bukaniang.gif") no-repeat center;
          }
        }
        .topTheme_in_search {
          min-width: 925px;
          width: 925px;
          height: 150px;
          position: absolute;
          right: 150px;
          .topTheme_in_search_input {
            float: left;
            width: 440px;
            height: 45px;
            margin-top: 50px;
            .topTheme_search_input {
              width: 440px;
              height: 49px;
              background: url("../../assets/image/theme_tb.png") no-repeat 0 -184px;
              position: relative;
              z-index: 20;
              form {
                display: block;
                margin-top: 0;
                .search_input {
                  float: left;
                  height: 42px;
                  width: 357px;
                  border: none;
                  color: rgb(50, 50, 50);
                  padding-left: 10px;
                  margin: 3px 0 3px 4px;
                }
                .search_submit {
                  float: right;
                  width: 66px;
                  height: 42px;
                  background: url("../../assets/image/theme_tb.png") no-repeat -2px -19px;
                  border: none;
                  margin: 3px 3px 3px 0;
                  cursor: pointer;
                }
              }
            }
            ul li {
              list-style: none;
              float: left;
              display: inline-block;
              padding: 5px;
              font-size: 12px;
              a {
                text-decoration: none;
                color: #000011;
              }
            }
          }
          .topTheme_cloud {
            position: absolute;
            top: 8px;
            right: 265px;
            width: 172px;
            height: 92px;
            background: url("../../assets/image/clode.png") no-repeat;
            p {
              a {
                display: block;
                width: 116px;
                height: 70px;
                font-size: 14px;
                color: #6e9cbe;
                padding: 32px 28px;
              }
            }
          }
        }
      }
      .topTheme_nav {
        width: 100%;
        height: 50px;
        background: url("../../assets/image/nav_bg.png") no-repeat;
        box-shadow: 0px 2px 1px #a4c3d0;
        -webkit-box-shadow: 0px 2px 1px #a4c3d0;
        .topTheme_nav_in {
          height: 50px;
          position: relative;
          z-index: 1;
          width: 1350px;
          margin: 0 auto;
          ul {
            list-style: none;
            li {
              display: inline-block;
            }
          }
          .topTheme_nav_li {
            float: left;
            width: 1068.75px;
            li {
              text-align: -webkit-match-parent;
              a:hover {
                background: #dcedfa;
                color: #0f6bac;
                font-weight: bold;
              }
              a {
                display: inline-block;
                text-align: center;
                //height: 50px;
                padding: 15px 22px;
                color: #ffffff;
                font-size: 16px;
                outline: 0;
                //width: 106.875px;
              }
            }
          }
          .topTheme_nav_inr {
            position: absolute;
            top: -11px;
            right: 175px;
            width: 195px;
            height: 70px;
            background: url("../../assets/image/theme_tb.png") no-repeat 0 -113px;
            a {
              display: block;
              width: 195px;
              height: 70px;
              line-height: 70px;
              text-align: center;
              color: #ffffff;
              font-size: 18px;
            }
          }
        }
      }
    }
    .topTheme:after {
      display: block;
      clear: both;
      content: " ";
      visibility: hidden;
      height: 0;
    }
    .warp {
      max-width: 1350px;
      margin: 10px auto;
      position: relative;
      .warp_banner {
        width: 1350px;
        .banner_img {
          height: 376px;
          position: relative;
          overflow: hidden;
          float: left;
          .banner_inner {
            width: 1980px;
            height: 376px;
            position: absolute;
            left: 0;
            top: 0;
            animation: myanimation 10s infinite;
            -moz-animation: myanimation 10s infinite;
            /* Firefox */
            -webkit-animation: myanimation 10s infinite;
            /* Safari and Chrome */
            -o-animation: myanimation 10s infinite;
            ul {
              list-style: none;
              li {
                float: left;
                width: 990px;
                height: 376px;
                .banner_img_one{
                  display: block;
                  .img_one_i{
                    display: block;
                    width: 330px;
                    height: 376px;
                    a{
                      .ch1{
                        width: 330px;
                        height: 376px;
                        border: 1px solid transparent;
                      }
                      img{
                        width: 330px;
                        height: 376px;
                      }
                      .mh_title{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding-left: 10px;
                        color: #fff;
                        width: 320px;
                        height: 70px;
                        line-height: 102px;
                        text-shadow: 0px 2px 2px #000000;
                        font-size: 16px;
                        background: url("../../assets/image/topimg_bg.png") no-repeat;
                      }
                    }
                  }
                  .cu{
                    position: relative;
                  }
                }
              }
            }
          }
        }
        .banner_rank {
          height: 374px;
          background-color: #ffffff;
          width: 325.25px;
          border: 1px solid #e6e6e6;
          float: right;
          h2 {
            display: inline-block;
            width: 157px;
            height: 26px;
            color: #1790e6;
            font-size: 20px;
            padding: 12px 30px 0 20px;
            font-weight: normal;
          }
          .tab-option-ul {
            list-style: none;
            display: inline-block;
            width: 98px;
            height: 26px;
            .tab-option-li {
              display: inline-block;
              width: 42px;
              height: 26px;
              line-height: 26px;
              text-align: center;
              font-size: 14px;
              padding-top: 12px;
              .tab-option {
                display: block;
                width: 42px;
                height: 26px;
                color: #333;
              }
              .tab-option-selected {
                background: #3591d5;
                color: #fff;
              }
            }
          }
          .tab-content {
            width: 324.25px;
            height: 335px;
            //display: none;
            ul {
              width: 285.25px;
              height: 308px;
              padding: 10px 20px 18px 20px;
              list-style: none;
              display: inline-block;
              .rank_tabs_first {
                width: 285.25px;
                height: 91px;
                background: #ebeff2;
                margin-bottom: 8px;
                position: relative;
                sub{
                  position: absolute;
                  left: 0;
                  top:0;
                  width: 0;
                  height: 0;
                  border-top: 30px solid #fe8a19;
                  border-right: 30px solid transparent;
                }
                em{
                  position: absolute;
                  left: 0;
                  top: -3px;
                  color: #ffffff;
                }
                img{
                  float: left;
                  border: 1px solid #e6e6e6;
                  width: 78px;
                  height: 90px;
                  top: -10px;
                }
                .rank_first_con{
                  vertical-align: top;
                  display: inline-block;
                  width: 168px;
                  height: 92px;
                  padding: 7px 0 0 7px;
                  a{
                    color: #333333;
                    h3{
                      font-size: 16px;
                      font-weight: normal;
                      color: #333333;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                      word-break: keep-all;
                      margin-bottom: 10px;
                    }
                  }
                  p{
                    color: #666;
                    margin-top: 6px;
                    font-size: 10px;
                  }
                }
              }
              .rank_tabs_li{
                width: 285.25px;
                height: 20px;
                margin-top: 4px;
                font-size: 12px;
                em{
                  display: inline-block;
                  width: 25px;
                  height: 18px;
                  line-height: 18px;
                  text-align: center;
                  border: 1px solid #e6e6e6;
                  margin-right: 8px;
                  color: #808080;
                  vertical-align: top;
                }
                .c_5{
                  background: #fe8a19;
                  border: 1px solid #fe8a19;
                  color: #ffffff;
                  vertical-align: top;
                }
                .rank_tabs_title{
                  display: inline-block;
                  width: 100px;
                  height: 18px;
                  margin-right: 28px;
                  color: #333;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  word-break: keep-all;
                  vertical-align: top;
                  a{
                    color: #333;
                    font-size: 14px;
                  }
                }
                .rank_tabs_sec{
                  display: inline-block;
                  width: 100px;
                  height: 20px;
                  color: #666;
                  text-align: right;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  word-break: keep-all;
                }
              }
            }
          }
        }
        .widthEigLeft {
          width: 990px;
        }
      }
    }
  }
}

.autoHeight {
  height: auto !important;
  min-height: 0;
  height: 0;
}

.autoHeight:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

.border-1 {
  border: 1px #66ccff solid;
}

.bc-1 {
  background-color: #66ccff;
}

.bc-2 {
  background-color: #0f6bac;
}

@keyframes myanimation {
  3%, 50% {
    top: 0;
    left: -990px;
  }
  0%, 53%, 100% {
    top: 0;
    left: 0px;
  }
}

.con_left{
  float: left;
}

.hoverChange{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
